body {
    text-align: center;
    justify-content: centre;
    align-items: centre;
    font-family: Arial, sans-serif;
    margin: 50px;
}

button {
    justify-content: centre;
    align-items: centre;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}
h1{
  justify-content: centre;
    align-items: centre;
}